@import url("icons-ucal.css");
@font-face {
  font-family: 'HelveticaNeueLight';
  src: url("../fonts/HelveticaNeue/HelveticaNeueLight.otf");
}
@font-face {
  font-family: 'HelveticaNeueBold';
  src: url("../fonts/HelveticaNeue/HelveticaNeueBold.otf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 15px;
}
body {
  font-family: 'HelveticaNeueLight';
  color: #2e2e33;
}
.header-movil .nav-movil ul li:nth-of-type(3) a,
.header-movil .nav-movil ul li:nth-of-type(3) span {
  color: #0fb49f;
}
.crealab-container {
  display: -webkit-flex;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  background-color: #fff;
  padding-top: 20px;
  padding-bottom: 40px;
}
.crealab-container .us-container {
  display: -webkit-flex;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  width: 90%;
}
.crealab-container .us-container .us-content {
  display: -webkit-flex;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}
.crealab-container .us-container .us-content video {
  width: 100%;
  height: 300px;
  margin-bottom: 50px;
}
.crealab-container .us-container .us-content .image-crealab {
  width: 150px;
  height: 50px;
  background-image: url("../img/crealab.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.crealab-container .us-container .us-content .description {
  width: 100%;
  margin: 40px 0;
}
.crealab-container .us-container .us-content .description p {
  font-size: 1.4rem;
}
.crealab-container .allied-companies {
  display: -webkit-flex;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: flex-start;
  width: 90%;
}
.crealab-container .allied-companies p {
  font-size: 2rem;
  color: #8e2289;
  text-align: left;
  font-family: 'HelveticaNeueBold';
  font-weight: bolder;
  margin-bottom: 30px;
}
.crealab-container .allied-companies .business-listing {
  display: -webkit-flex;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-top: 1px solid #e0e0e0;
  border-left: 1px solid #e0e0e0;
  border-right: 1px solid #e0e0e0;
}
.crealab-container .allied-companies .business-listing .col:nth-of-type(1) .company-image {
  background-image: url("../img/2.png");
}
.crealab-container .allied-companies .business-listing .col:nth-of-type(2) .company-image {
  background-image: url("../img/3.png");
}
.crealab-container .allied-companies .business-listing .col:nth-of-type(3) .company-image {
  background-image: url("../img/4.png");
}
.crealab-container .allied-companies .business-listing .col:nth-of-type(4) .company-image {
  background-image: url("../img/5.png");
}
.crealab-container .allied-companies .business-listing .col:nth-of-type(5) .company-image {
  background-image: url("../img/6.png");
}
.crealab-container .allied-companies .business-listing .col:nth-of-type(6) .company-image {
  background-image: url("../img/7.png");
}
.crealab-container .allied-companies .business-listing .col:nth-of-type(7) .company-image {
  background-image: url("../img/8.png");
}
.crealab-container .allied-companies .business-listing .col:nth-of-type(8) .company-image {
  background-image: url("../img/9.png");
}
.crealab-container .allied-companies .business-listing .col:nth-of-type(9) .company-image {
  background-image: url("../img/10.png");
}
.crealab-container .allied-companies .business-listing .col:nth-of-type(10) .company-image {
  background-image: url("../img/11.png");
}
.crealab-container .allied-companies .business-listing .col-s6 {
  display: -webkit-flex;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  width: 50%;
  padding: 20px;
  border-bottom: 1px solid #e0e0e0;
}
.crealab-container .allied-companies .business-listing .col-s6:nth-child(odd) {
  border-right: 1px solid #e0e0e0;
}
.crealab-container .allied-companies .business-listing .col-s6 .company-image {
  width: 110px;
  height: 50px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  filter: grayscale(100%);
}
@media screen and (min-width: 600px) {
  .crealab-container .us-container .us-content video {
    width: auto;
  }
  .crealab-container .allied-companies .business-listing {
    border-right: 0px;
  }
  .crealab-container .allied-companies .business-listing .col-m4 {
    width: 33.3%;
  }
  .crealab-container .allied-companies .business-listing .col-m4:nth-of-type(2),
  .crealab-container .allied-companies .business-listing .col-m4:nth-of-type(4),
  .crealab-container .allied-companies .business-listing .col-m4:nth-of-type(6),
  .crealab-container .allied-companies .business-listing .col-m4:nth-of-type(8) {
    border-right: 1px solid #e0e0e0;
  }
  .crealab-container .allied-companies .business-listing .col-m4:nth-last-child(1) {
    display: none;
  }
}
@media screen and (min-width: 900px) {
  .header-desktop .right .nav-desktop ul li:nth-of-type(3) a {
    font-family: 'HelveticaNeueBold';
    color: #0fb49f;
    border-bottom: 3px solid #0fb49f;
  }
  .crealab-container .us-container {
    background-color: #f6f9fc;
    padding: 60px 40px;
    margin-bottom: 70px;
  }
  .crealab-container .us-container .us-content {
    width: 80%;
    position: relative;
  }
  .crealab-container .us-container .us-content video {
    width: 100%;
    height: auto;
    margin-top: 80px;
    margin-bottom: 0;
  }
  .crealab-container .us-container .us-content .image-crealab {
    position: absolute;
    left: 0;
    top: 0;
  }
  .crealab-container .us-container .us-content .description {
    margin-bottom: 0;
  }
  .crealab-container .allied-companies {
    margin-bottom: 50px;
  }
  .crealab-container .allied-companies .business-listing .col-l2 {
    width: 20%;
  }
  .crealab-container .allied-companies .business-listing .col-l2:nth-of-type(2),
  .crealab-container .allied-companies .business-listing .col-l2:nth-of-type(4),
  .crealab-container .allied-companies .business-listing .col-l2:nth-of-type(6),
  .crealab-container .allied-companies .business-listing .col-l2:nth-of-type(8) {
    border-right: 1px solid #e0e0e0;
  }
  .crealab-container .allied-companies .business-listing .col-l2:nth-last-child(1) {
    display: flex;
    border-right: 1px solid #e0e0e0;
  }
}
