blue_text = #6b7c93
green = #0fb49f
white = #fff
blue = #6772e5
dark_green = #24b47e
purple = #b76ac4

input::-webkit-input-placeholder
	font-size 1.2rem
	color #b5b7b9
	font-family 'HelveticaNeueLight'
input::-moz-placeholder
	font-size 1.2rem
	color #b5b7b9
	font-family 'HelveticaNeueLight'
input::-ms-input-placeholder
	font-size 1.2rem
	color #b5b7b9
	font-family 'HelveticaNeueLight'
input:-moz-placeholder
	font-size 1.2rem
	color #b5b7b9
	font-family 'HelveticaNeueLight'
.header-desktop
	display none
.header-movil
	display flex
	flex-flow row nowrap
	justify-content space-between
	align-items center
	width 100%
	height auto
	padding 20px 30px
	position relative
	left 0
	top 0
	img
		width 70px
		height 55px
	span 
		font-size 2.5rem
		color blue_text
		cursor pointer
	.nav-movil
		opacity 0
		width calc(100% - 40px)
		height calc(100% - 40px)
		background-color white
		border 2px solid blue
		padding 20px
		position fixed
		left 20px
		top 0%
		transform translateX(110%) translateY(-50%)
		transition all 0.4s ease
		z-index 1
		.icon-close
			color blue
			font-size 2rem
			position absolute
			right 15px
			top 15px
		ul
			list-style none
			margin-top 70px
			li 
				display -webkit-flex
				display flex 
				flex-flow row nowrap
				justify-content flex-start
				align-items center
				margin-bottom 30px
				padding-left 10px
				a, span 
					color blue_text
				a 
					text-decoration none
					margin-left 20px
					font-family 'HelveticaNeueBold'
					font-size 1.4rem
				span 
					font-size 2rem
@media screen and (min-width: 900px)
	.language-selected
		font-family 'HelveticaNeueBold'
		color green !important
	.header-movil
		display none
	.header-desktop
		display -webkit-flex
		display flex 
		flex-flow row nowrap
		justify-content space-between
		align-items center
		padding 20px 70px
		img 
			width 120px 
			height 105px
		.right
			display -webkit-flex
			display flex 
			flex-flow column wrap
			justify-content center
			align-items flex-end
			width 60%
			.row 
				display -webkit-flex
				display flex 
				flex-flow row nowrap
				justify-content center
				align-items center
				width 100%
				margin-bottom 30px
				.search
					display -webkit-flex
					display flex
					flex-flow row nowrap
					justify-content center
					align-items center
					width 90%
					position relative
					input
						width 90%
						height 40px
						line-height 40px
						font-family 'HelveticaNeueLight'
						font-size 1.2rem
						color blue_text
						border-radius 1rem
						border 1px solid blue_text
						padding-left 20px
						padding-right 50px
					span 
						font-size 1.5rem
						color blue_text
						position absolute
						right 8%
				.language
					display -webkit-flex
					display flex 
					flex-flow row nowrap
					justify-content center
					align-items center
					p 
						font-size 1.4rem
						color blue_text
						cursor pointer
						&:nth-of-type(1)
							border-right 1px solid blue_text
							padding-right 15px
						&:nth-of-type(2)
							padding-left 15px
			.nav-desktop
				width 100%
				ul
					display -webkit-flex
					display flex 
					flex-flow row nowrap
					justify-content flex-end
					align-items center
					list-style none
					li 
						&:nth-of-type(2), &:nth-of-type(3)
							margin-left 130px
						a 
							text-decoration none
							font-size 1.3rem
							color blue_text
							padding-bottom 5px
								
						
					