@import url(icons-ucal.css)

@font-face
	font-family 'HelveticaNeueLight'
	src url(../fonts/HelveticaNeue/HelveticaNeueLight.otf)
@font-face
	font-family 'HelveticaNeueBold'
	src url(../fonts/HelveticaNeue/HelveticaNeueBold.otf)
	
lead = #2e2e33
green = #0fb49f
white = #fff
blue = #6772e5
dark_green = #24b47e
purple = #b76ac4

*
	margin 0
	padding 0
	box-sizing border-box
html
	font-size 15px
body
	font-family 'HelveticaNeueLight'
	color lead
input::-webkit-input-placeholder
	font-size 1.2rem
	color #b5b7b9
	font-family 'HelveticaNeueLight'
input::-moz-placeholder
	font-size 1.2rem
	color #b5b7b9
	font-family 'HelveticaNeueLight'
input::-ms-input-placeholder
	font-size 1.2rem
	color #b5b7b9
	font-family 'HelveticaNeueLight'
input:-moz-placeholder
	font-size 1.2rem
	color #b5b7b9
	font-family 'HelveticaNeueLight'
.col12
	width calc(100% - 20px)
.col6
	width calc(50% - 20px)
.header-movil
	.nav-movil
		ul
			li 
				&:nth-of-type(1)
					a, span
						color green
.circle-green
	background-color green
.circle-lead
	background-color #c3c3c3
.home-container
	display -webkit-flex
	display flex 
	flex-flow column wrap
	justify-content center
	align-items center
	width 100%
	height auto
	padding 20px
	background-color white
	position relative
	left 0
	top 0
	overflow hidden
	.search
		display -webkit-flex
		display flex
		flex-flow row nowrap
		justify-content center
		align-items center
		width 100%
		position relative
		margin-bottom 20px
		input
			width 90%
			height 40px
			line-height 40px
			font-size 1.4rem
			color lead
			border-radius 1rem
			border 1px solid lead
			padding-left 20px
			padding-right 50px
		span
			font-size 2rem
			position absolute
			right 8%
	#slides
		display none
	.news-container
		display -webkit-flex
		display flex
		flex-flow row wrap
		justify-content center
		align-items center
		width 95%
		margin-bottom 40px
		.news
			height 300px
			background-size cover
			background-position center
			margin 10px
			cursor pointer
			position relative
			.news-footer
				opacity 0
				display -webkit-flex
				display flex 
				flex-flow row nowrap
				justify-content space-between
				align-items center
				width 100%
				height auto
				background-color rgba(0, 0, 0, 0.8)
				padding 20px
				position absolute
				left 0
				bottom 0
				transition opacity 0.8s ease
				.left
					display -webkit-flex 
					display flex 
					flex-flow column wrap
					justify-content center
					align-items flex-start
					width 80%
					p 
						color white
						font-size 1rem
						&:nth-of-type(1)
							font-family 'HelveticaNeueBold'
				span 
					color white
					font-size 1.5rem
					background-color transparent
					border-radius 50%
					border 2px solid white
					padding 10px
			&:nth-of-type(1)
				background-image url(../img/news1.png)
			&:nth-of-type(2)
				background-image url(../img/news2.png)
			&:nth-of-type(3)
				background-image url(../img/news3.png)
			&:nth-of-type(4)
				background-image url(../img/news4.png)
			&:nth-of-type(5)
				background-image url(../img/news5.png)
			&:nth-of-type(6)
				background-image url(../img/news6.png)
			&:nth-of-type(7)
				background-image url(../img/news7.png)
			&:nth-of-type(8)
				background-image url(../img/news8.png)
			&:nth-of-type(9)
				background-image url(../img/news9.png)
			&:nth-of-type(10)
				background-image url(../img/news10.png)
		
@media screen and (min-width: 900px)
	.header-desktop
		.right 
			.nav-desktop
				ul 
					li
						&:nth-of-type(1)
							a 
								font-family 'HelveticaNeueBold'
								color green
								border-bottom 3px solid green
	.home-container
		padding 20px 60px
		.search
			display none
		#slides
			display block
			width calc(90% + 40px) !important
			height 500px !important
			padding-bottom 60px
			.slides-pagination
				position relative
				left 0
				top 20px
				a 
					border 0px
					background-color #c3c3c3
					margin 0 15px
				.current
					background-color #0fb49f
			ul 
				li 
					&:nth-of-type(1)
						background-image url(../img/uno.jpg)
						background-size cover
						background-position center
					&:nth-of-type(2)
						width 100% !important
						height 100% !important
						background-image url(../img/slider2.png)
						background-size cover
						background-position center
					&:nth-of-type(3)
						width 100% !important
						height 100% !important
						background-image url(../img/tres.jpg)
						background-size cover
						background-position center					
		.news-container
			.news 
				height 350px
			.col-l3
				width calc(25% - 20px)
			.col-l6 
				width calc(50% - 20px)
			
	