doctype html
html(lang='es')
	head
		meta(charset='utf-8')
		title Ucal
		meta(name='viewport', content='width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0')
		link(rel='stylesheet', type='text/css', href='./client/css/superslides.css')
		link(rel='stylesheet', type='text/css', href='./client/css/main.css')
		link(rel='stylesheet', type='text/css', href='./client/css/header.css')
		link(rel='stylesheet', type='text/css', href='./client/css/footer.css')
	body
		include ./blocks/header.pug
		section.home-container
			.search
				input(type='text', placeholder='Buscar')
				span.icon-search
			#slides
				ul.slides-container
					li
					li
					li
			.news-container
				.news.col6.col-l3
					.news-footer
						.left
							p NOMBRE DEL PROYECTO
							p Diseño publicitario
							p Victor Zegarra
						span.icon-plus
				.news.col6.col-l6
					.news-footer
						.left
							p NOMBRE DEL PROYECTO
							p Diseño publicitario
							p Victor Zegarra
						span.icon-plus
				.news.col12.col-l3
					.news-footer
						.left
							p NOMBRE DEL PROYECTO
							p Diseño publicitario
							p Victor Zegarra
						span.icon-plus
				.news.col6.col-l3
					.news-footer
						.left
							p NOMBRE DEL PROYECTO
							p Diseño publicitario
							p Victor Zegarra
						span.icon-plus
				.news.col6.col-l3
					.news-footer
						.left
							p NOMBRE DEL PROYECTO
							p Diseño publicitario
							p Victor Zegarra
						span.icon-plus
				.news.col6.col-l3
					.news-footer
						.left
							p NOMBRE DEL PROYECTO
							p Diseño publicitario
							p Victor Zegarra
						span.icon-plus
				.news.col6.col-l3
					.news-footer
						.left
							p NOMBRE DEL PROYECTO
							p Diseño publicitario
							p Victor Zegarra
						span.icon-plus
				.news.col12.col-l3
					.news-footer
						.left
							p NOMBRE DEL PROYECTO
							p Diseño publicitario
							p Victor Zegarra
						span.icon-plus
				.news.col6.col-l3
					.news-footer
						.left
							p NOMBRE DEL PROYECTO
							p Diseño publicitario
							p Victor Zegarra
						span.icon-plus
				.news.col6.col-l6
					.news-footer
						.left
							p NOMBRE DEL PROYECTO
							p Diseño publicitario
							p Victor Zegarra
						span.icon-plus
		include ./blocks/footer.pug

		script(src='./client/js/jquery-3.1.1.min.js')
		script(src='./client/js/jquery.superslides.js')
		script(src='./client/js/main.js')
		script(src='./client/js/header.js')