footer.footer-movil 
	.footer-up
		.left
			p www.ucal.edu.pe
			p Admisión: 543-2626
			p Portafolio-ucal@gmail.com
		.right
			span.icon-facebook
			span.icon-twitter
			span.icon-instagram
	.footer-down
		p 2016 - Universidad de Ciencias y  Artes de América Latina
		p &copy Todos los derechos reservados
footer.footer-desktop
	.left
		p www.ucal.edu.pe
		p Admisión: 622-2222
		p Portafolio-ucal@gmail.com
	.center
		p 2016 - Universidad de Ciencias y Artes de América Latina
		p &copy Todos los derechos reservados
	.right
		span.icon-facebook
		span.icon-twitter
		span.icon-instagram