header.header-movil
	img(src='./client/img/logo-ucal.png')
	span.icon-menu3.show-menu
	nav.nav-movil
		span.icon-close
		ul
			li
				span.icon-home
				a(href='index.html') Inicio
			li
				span.icon-settings
				a(href='projects.html') Proyectos
			li
				span.icon-lab2
				a(href='crealab.html') Crealab
header.header-desktop
	img(src='./client/img/logo-ucal.png')
	.right
		.row
			.search
				input(type='text', placeholder='Buscar')
				span.icon-search
			.language
				p EN
				p.language-selected ES
		nav.nav-desktop 
			ul 
				li 
					a(href='index.html') Inicio
				li 
					a(href='projects.html') Proyectos
				li
					a(href='crealab.html') Crealab
